h1 {
  text-align: center;
}

#search-examples {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;

  a {
    display: flex;
    flex-grow: 1;
    height: 250px;
    color: #fff;
    background-color: #999;
    text-decoration: none;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (min-width: 375px) {
      width: 48%;
    }

    @media only screen and (min-width: 576px) {
      width: 31%;
    }

    h5 {
      text-shadow: 2px 2px 0px #333;
      margin-top: auto;
      margin-left: 0.5rem;
    }
  }

  a:nth-child(1) {
    background-image: url("/assets/images/ebene.jpg");
  }

  a:nth-child(2) {
    background-image: url("/assets/images/port-louis.jpg");
  }

  a:nth-child(3) {
    background-image: url("/assets/images/grand-gaube.jpg");
  }
}
