<div id="dropzone-wrapper">
  <div id="dropzone">
    <div>
      <span class="fa-solid fa-upload"></span>
    </div>
    <div>
      <span class="fw-bold">
        {{ "COMPONENTS.IMAGE_UPLOADER.UPLOAD_PHOTOS" | translate }}
      </span>
    </div>
    <div>
      <span>{{ "COMPONENTS.IMAGE_UPLOADER.UPLOAD_ONE" | translate }}</span>
    </div>
  </div>

  <input
    #imageInput
    (change)="onImageChange($event)"
    type="file"
    name="image"
    multiple
  />
</div>

<div id="images">
  @for (image of images; track image) {
    <div>
      <img [src]="image.image" />

      @if (image.status === "IN_PROGRESS") {
        <div class="uploading-indicator">
          <span class="fa-solid fa-spinner fa-spin"></span>
        </div>
      } @else {
        <span
          (click)="onXMarkClick($index)"
          class="fa-regular fa-circle-xmark"
        ></span>
      }

      @if (image.status === "ERROR") {
        <span
          class="fa-solid fa-circle-exclamation text-danger"
          placement="top"
          ngbTooltip="{{
            errors[$index]
              ? (errors[$index] | translate)
              : ('COMPONENTS.IMAGE_UPLOADER.ERRORS.UPLOAD_FAILED' | translate)
          }}"
        ></span>
      }
    </div>
  }
</div>
