<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a routerLink="/" class="navbar-brand app-logo">
        {{ "TITLE" | translate }}
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          @if (user === null) {
            <li class="nav-item">
              <a
                (click)="hideHamburgerMenu()"
                routerLink="/auth/login"
                class="nav-link"
                data-toggle="collapse"
                data-target=".navbar-collapse.show"
              >
                {{ "LOGIN" | translate }}
              </a>
            </li>
            <li class="nav-item">
              <a
                (click)="hideHamburgerMenu()"
                routerLink="/auth/register"
                class="nav-link"
              >
                {{ "REGISTER" | translate }}
              </a>
            </li>
          } @else {
            <li class="nav-item">
              <a
                (click)="hideHamburgerMenu()"
                routerLink="/new-offer"
                class="nav-link"
              >
                <span class="fa-solid fa-plus"></span>
                {{ "CREATE_OFFER" | translate }}
              </a>
            </li>

            <li class="nav-item dropdown">
              <a
                href="javascript:void(0)"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
              >
                <span class="fa-regular fa-circle-user"></span>
                {{ "MY_ACCOUNT" | translate }}
              </a>

              <ul class="dropdown-menu">
                <li>
                  <a
                    (click)="hideHamburgerMenu()"
                    routerLink="/my-offers"
                    class="dropdown-item"
                  >
                    {{ "MY_OFFERS" | translate }}
                  </a>
                </li>
                <li>
                  <a
                    (click)="hideHamburgerMenu()"
                    routerLink="/settings"
                    class="dropdown-item"
                  >
                    {{ "SETTINGS" | translate }}
                  </a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a
                    (click)="onLogoutClick(); hideHamburgerMenu()"
                    href="javascript:void(0)"
                    class="dropdown-item"
                  >
                    {{ "LOGOUT" | translate }}
                  </a>
                </li>
              </ul>
            </li>
          }
        </ul>
      </div>
    </div>
  </nav>
</header>
