<div id="main-container">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              {{ "PAGES.RESET_PASSWORD.TITLE" | translate }}
            </h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">
              {{ "PAGES.RESET_PASSWORD.RESET" | translate }}
            </h6>

            <hr />

            <p>
              {{ "PAGES.RESET_PASSWORD.ENTER_PASSWORD" | translate }}
            </p>

            <form [formGroup]="resetPasswordForm">
              <div class="mb-3">
                <app-input
                  [id]="'password-input'"
                  [icon]="'fa-solid fa-lock'"
                  [label]="'PASSWORD'"
                  [type]="'password'"
                  [formControlName]="'password'"
                  [error]="passwordError"
                ></app-input>
              </div>

              <div class="mb-3">
                <app-input
                  [id]="'repeated-password-input'"
                  [icon]="'fa-solid fa-lock'"
                  [label]="'REPEAT_PASSWORD'"
                  [type]="'password'"
                  [formControlName]="'repeatedPassword'"
                  [error]="repeatedPasswordError"
                ></app-input>
              </div>

              @if (errors && errors.type !== "INVALID_PARAMETERS") {
                <div class="text-center">
                  <p class="text-danger">
                    {{
                      "PAGES.RESET_PASSWORD.ERRORS." + errors.type | translate
                    }}
                  </p>
                </div>
              }

              <div class="text-center">
                @if (["PENDING", "ERROR"].includes(status)) {
                  <button
                    [disabled]="resetPasswordForm.valid === false"
                    (click)="onModifyClick()"
                    class="btn btn-primary"
                  >
                    {{ "MODIFY" | translate }}
                  </button>
                } @else if (status === "IN_PROGRESS") {
                  <button [disabled]="true" class="btn btn-primary">
                    <span class="fa-solid fa-spinner fa-spin"></span>
                    {{ "MODIFYING" | translate }}
                  </button>
                } @else {
                  <p class="text-success">
                    {{ "PAGES.RESET_PASSWORD.SUCCESS" | translate }}
                  </p>
                }
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
