#dropdown {
  position: absolute;
  z-index: 10;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #fff;
  max-height: 200px;
  overflow-y: scroll;

  ul {
    margin: 0;
    list-style-type: none;
    padding: 0;

    li {
      padding: 0.5rem;
    }

    li.selected {
      background-color: #ccc;
    }

    li:hover {
      cursor: pointer;
    }
  }
}

#selected-items {
  display: flex;
  flex-flow: wrap;
  margin-top: 0.5rem;
  gap: 0.25rem;

  > div {
    display: flex;
    border: 1px solid #ccc;
    padding: 0.25rem;

    div:last-of-type {
      margin-left: 0.25rem;

      span {
        font-size: 0.75rem;
      }

      span:hover {
        cursor: pointer;
      }
    }
  }
}
