<footer class="container">
  <hr />

  <div class="row">
    <div class="col-12 col-md-3 text-center text-md-start">
      <a routerLink="/" class="app-logo app-link-grey">
        © {{ "TITLE" | translate }}
      </a>
    </div>
    <div class="col-12 col-md-3 text-center text-md-start">
      <a
        href="javascript:void(0)"
        class="app-link-grey fa-brands fa-facebook"
      ></a>
      <a
        href="javascript:void(0)"
        class="app-link-grey fa-brands fa-twitter"
      ></a>
      <a
        href="javascript:void(0)"
        class="app-link-grey fa-brands fa-instagram"
      ></a>
    </div>
    <div class="col-12 col-md-6 text-center text-md-end">
      <a href="javascript:void(0)" class="app-link-grey">
        {{ "TOS" | translate }}
      </a>

      <span>·</span>

      <a href="javascript:void(0)" class="app-link-grey">
        {{ "PRIVACY_POLICY" | translate }}
      </a>
    </div>
  </div>
</footer>
