<div id="main-container">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              {{ "LOGIN" | translate }}
            </h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">
              {{ "PAGES.LOGIN.LOGIN_ON" | translate }}
            </h6>

            <hr />

            <form [formGroup]="loginForm">
              <div class="mb-3">
                <app-input
                  [id]="'email-input'"
                  [icon]="'fa-solid fa-envelope'"
                  [label]="'EMAIL'"
                  [type]="'email'"
                  [formControlName]="'email'"
                  [error]="emailError"
                ></app-input>
              </div>

              <div class="mb-3">
                <app-input
                  [id]="'password-input'"
                  [icon]="'fa-solid fa-lock'"
                  [label]="'PASSWORD'"
                  [type]="'password'"
                  [formControlName]="'password'"
                  [error]="passwordError"
                ></app-input>
              </div>

              <div class="text-end mb-3">
                <a routerLink="/auth/password/forgotten">
                  {{ "PAGES.LOGIN.PASSWORD_FORGOTTEN" | translate }}
                </a>
              </div>

              @if (errors && errors.type !== "INVALID_PARAMETERS") {
                <div class="text-center">
                  <p class="text-danger">
                    {{ "PAGES.LOGIN.ERRORS." + errors.type | translate }}
                  </p>
                </div>
              }

              <div class="text-center">
                @if (["PENDING", "ERROR"].includes(status)) {
                  <button
                    [disabled]="loginForm.valid === false"
                    (click)="onLoginClick()"
                    class="btn btn-primary"
                  >
                    {{ "LOGIN" | translate }}
                  </button>
                } @else if (status === "IN_PROGRESS") {
                  <button [disabled]="true" class="btn btn-primary">
                    <span class="fa-solid fa-spinner fa-spin"></span>
                    {{ "PAGES.LOGIN.LOGIN" | translate }}
                  </button>
                }
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
