/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  width: 100%;
  margin: auto;
  margin-top: 0;
  flex-grow: 1;

  #main-container {
    max-width: 768px;
    margin: auto;
    padding: 0 12px;
  }
}

.app-logo {
  font-family: "Zain", sans-serif;
  font-weight: 700;
}

.app-link-grey {
  color: #6c757d;
}

.app-link-grey:hover {
  color: #495057;
}
