/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

body {
  font-family: "Open Sans", sans-serif !important;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  margin-top: 56px;
  flex-grow: 1;

  #main-container {
    max-width: 768px;
    margin: auto;
    padding: 0 12px;
  }

  .main-container-top-margin {
    margin-top: 2rem !important;
  }
}

.app-logo {
  font-family: "Zain", sans-serif;
  font-weight: 700;
}

.app-link-grey {
  color: #6c757d;
}

.app-link-grey:hover {
  color: #495057;
}

.app-features {
  display: flex;
  flex-flow: row wrap;

  > div {
    width: 100%;

    @media only screen and (min-width: 375px) {
      width: 50%;
    }

    @media only screen and (min-width: 576px) {
      width: 33%;
    }
  }
}

.app-image-ratio-16x9 {
  aspect-ratio: 16/9;
  object-fit: cover;
}

/* Bootstrap customization */

.card,
.modal-content {
  border-radius: 0 !important;
  border: none !important;
  box-shadow: 0px 0px 10px #333;
}

.form-control,
.form-select,
.form-check-input {
  border-radius: 0 !important;
}

.btn {
  border-radius: 0 !important;
}

.nav-pills .nav-link {
  border-radius: 0 !important;
}

.carousel-indicators button {
  border-radius: 100%;
  width: 0.5rem !important;
  height: 0.5rem !important;
}
